{{- $name  := or (env "DF_NAME")  (promptStringOnce . "name"  "Display name") -}}
{{- $email := or (env "DF_EMAIL") (promptStringOnce . "email" "Email") -}}

[data]
  name  = {{ $name  | quote }}
  email = {{ $email | quote }}
