account_id   = "YOUR_CLOUDFLARE_ACCOUNT_ID"
github_owner = "cadebrown"
# github_repo             = "dotfiles"
# pages_project_name      = "dotfiles"
# pages_production_branch = "main"
# pages_custom_domain     = "dotfiles.cade.io"
